.container {
    margin: 2rem auto;
}

.container h2 {
    text-align: center;
}

ul {
    display: flex;
    gap: 8px;
}
ul li {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2rem;
}
form input,
textarea {
    padding: 0.6rem 5rem;
    border: 1px solid black;
    border-radius: 6px;
}

form button {
    padding: 1rem;
    font-weight: bold;
    background-color: black;
    border: 1px;
    border-radius: 5px;
    color: whitesmoke;
}

nav {
    border-bottom: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

.blogContainer {
    border: 1px solid gray;
    padding: 2rem;
    margin: 2rem;
}

.blog {
    border-radius: 8px;
    border: 1px solid grey;
    padding: 1rem;
    margin: 1rem;
}

.blog label {
    font-weight: bold;
}

.blog p {
    padding: 0;
    margin: 1.5% auto;
    font-size: 15px;
}
